body {
    background-color: #f8f9fa; /* Light background color */
}

.container {
    max-width: 900px !important; /* Max width for the container */
    margin: auto !important;
}

h1 {
    margin-bottom: 30px; /* Spacing below the heading */
}

.form-control {
    border-radius: 0.5rem; /* Rounded corners for input fields */
}

.form-control:focus {
    box-shadow: none; /* Remove default shadow on focus */
    border-color: #80bdff; /* Change border color on focus */
}

.btn {
    margin-top: 20px; /* Space above the button */
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da; /* Border for Select2 */
    border-radius: 0.5rem; /* Rounded corners for Select2 */
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #007bff; /* Background color for selected options */
    color: #fff; /* Text color for selected options */
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff; /* Color for remove button */
}

.mb-3 {
    margin-bottom: 1rem !important; /* Adjust margin for better spacing */
}

@media (max-width: 768px) {
    .container {
        padding: 0 15px; /* Add padding on smaller screens */
    }
    
    h1 {
        font-size: 1.5rem; /* Adjust heading size */
    }
    #manualCheck {
        margin-left: 135px; /* Adjust spacing */
        margin-top: -26px; /* Align with the label */
        position: relative;
        vertical-align: middle;
    }
}
#reader {
    width: 100%;
    height: auto;
    max-width: 400px; /* Optional, adjust as needed */
    margin: 0 auto;
    display: none;
}

@media (max-width: 767px) {
    #reader {
        max-width: 80%;  /* Limit width to 80% of the screen */
        height: 250px;   /* Set a fixed height */
    }
}
.custom-checkbox{
    margin-left: 70px;
    margin-top: 30px;
    border: 2px solid #007bff !important; /* Change the border color */
}