{% extends "layout/layout.html" %}
{% load static %}
{% block content %}
<body>
    <div class="container mt-5">
        <form id="myForm" method="post" style="margin-top: 120px;"> 
            <div class="px-2 alert-messages">{% include 'Django_messages.html' %}</div>
            {% csrf_token %}
            <h1 class="text-center">Barcode Entry Form</h1>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-control-label" for="delValueFetch">Product Name:</label>
                    <select id="itemValueFetch" data-search="true" data-value="Custom" class="fw-light itemValueFetch" name="item_name">
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-control-label" for="enterBarcode">Enter Barcode:</label>
                    <input type="text" class="form-control input-field" id="enterBarcode" name="enterBarcode" required>
                </div>
            </div>
            <button type="submit" name="barcodesave" class="btn btn-success btn-block">Save</button>
        </form>
    </div>
    <script type="text/javascript" src="{% static 'assets/js/cdn/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/cdn/selectize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/tomSelect.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
    

</body>
{% endblock %}
