{% extends "layout/layout.html" %}
{% load static %}
{% block content %}
<body>
    <div class="container mt-5">
        <h1 class="text-center">Download Data</h1>
        <form id="myForm" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-8 selectDrop">
                    <label class="form-control-label" for="storeValueFetch">Store Name:</label>
                    <select id="storeFetch" class="form-select fw-light storeFetch" name="region">
                        <option value="0">Karnataka</option>
                        <option value="1">Kerala</option>
                        <option value="2">Telangana</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-control-label" for="allstore">All Store:</label>
                    <input type="checkbox" id="allstore" name="allstore" class="form-check-input allstore">
                </div>  
                </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-control-label" for="fromdate">From Date:</label>
                    <input type="date" id="fromdate" name="fromdate" class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-control-label" for="todate">To Date:</label>
                    <input type="date" id="todate" name="todate" class="form-control" required>
                </div>  
                </div>
                <button type="submit" name="downloadrecord" class="btn btn-success btn-block">Download</button>
        </form>
    </div>
    <script type="text/javascript" src="{% static 'assets/js/cdn/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/cdn/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/cdn/selectize.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/download_fun.js' %}"></script>
</body>
{% endblock %}