{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Aster Inventory</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/assets/images/icons/favicon.ico"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/productentry.css">

</head>
<body>
    <link href="/static/assets/css/selectize.bootstrap3.min.css" rel="stylesheet" type="text/css" />
    <div class="container mt-5">
        <h1 class="text-center">Product Entry Form</h1>
        <form id="myForm" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-control-label" for="delValueFetch">Product Name:</label>
                    <select id="delValueFetch" data-search="true" data-value="Custom"  class="fw-light delValueFetch" name="item_name">
                        </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-control-label" for="batch">Batch:</label>
                    <input type="text" id="batch" name="batch" class="form-control" placeholder="batch" required>
                </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="qty">Qty:</label>
                        <input type="number" id="qty" name="qty" class="form-control" placeholder="qty number format" min="1" step="1" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="pruchaseprice">Mrp:</label>
                        <input type="number" id="pruchaseprice" name="pruchaseprice" class="form-control" placeholder="Mrp number format" min="0.01" step="0.01" required>
                    </div>
                    </div>
                <button type="submit" name="recordsave" class="btn btn-success btn-block">Save</button>
        </form>
    </div>
    <script type="text/javascript" src="/static/assets/js/cdn/jquery.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/cdn/selectize.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/common.js"></script>
    <script>
        $(function() {
            $('.delValueFetch').selectize({
              plugins: ["remove_button"],
            });
        });
        </script>
</body>
</html>